{% extends 'pages/base/header.html' %}
{% load static %}
{% block body %}
<tr>
    <h1 class="text-center">{{ request.user }}'s Wish List</h1>
    <div class="col text-center">
        <a href="/item" class="btn btn-success">Add new Item to wishlist</a>
    </div>
      
    
    <br>
    <div class="card-group">
        
        
        {% for i in wishlist %}
        <div class="card">
            <a  href ="/allItems/item/{{i.id}}" ><img class="card-img-top"src="{{ i.imgURL }}" alt="Card image cap"></a>
            <div class="card-body">
            <a style = "text-decoration: none; color: black;" href ="/allItems/item/{{i.id}}"><h5 class="card-title" href ="/allItems/item/{{i.id}}">{{ i.productName }}</h5></a>
            <a style = "text-decoration: none; color: black;" href ="/allItems/item/{{i.id}}"><p class="card-text" href ="/allItems/item/{{i.id}}" >{{ i.productDescription }}</p></a>
            <a href="{% url 'update' i.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'delete' i.id %}" class="btn btn-primary">Delete</a>
            </div>
        </div>

        {% endfor %}

    </div>
{% endblock %}