{% extends 'pages/base/header.html' %}
{% load static %}
{% block body %}
<tr>
    <td>all items</td>
    {% for i in wishlist %}
    <td> {{ i.productName }}</td>
    <td><img src="{{ i.imgURL }}" /></td>
    <td>
        <p>{{ i.productDescription }}</p>
    </td>
    <td>
        <p>{{ i.id }}</p>
        <p>{{ i.customerId }}</p>
    </td>

    <td><a class="btn btn-sm btn-info" href="{% url 'update' i.id %}"> Update</a></td>
    <td><a class=" btn btn-sm btn-danger" href="{% url 'delete' i.id %}"> Delete</a></td>
</tr>
{% endfor %}
{% endblock %}