{% extends 'pages/base/header.html' %}
{% load static %}

{% block title %}
All Users
{% endblock %}

{% block body %}
<main>
    <h2>Current Users</h2>
    <ol>
        {% for i in all_users %}
        <li class="meetup-item">
            <article>
                <div class="meetup-summary">
                    <h3>{{ i }}</h3>
                    <!-- <h3>{{i.}</h3> -->
                </div>
                <div class="user-actions">
                    <a href="" class="btn"> Edit Users</a>
                </div>
            </article>
        </li>

        {% endfor %}
    </ol>
</main>
{% endblock %}