{% extends 'pages/base/header.html' %}
{% load static %}
{% block body %}
<tr>
    <br>
    <div class="container" >
        <div class="row">
          <div class="col">
                <img class="card-img-top"src="{{ item.imgURL }}" alt="Card image cap">
          </div>
          <div class="col">
            <h1 class="card-text" >{{ item.productName }}</h2>
            <h4 class="card-text"  >{{ item.productDescription }}</h4>
            <a href="/allItems" class="btn btn-primary">Back</a>
          </div>
        </div>
    </div>
{% endblock %}