/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap'); */

.section-header{
  color: black;
}

html,body {
  background: #97ece1 !important;
}

#userBtn, #heartIcon {
  color: rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  font-size: 25px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center
}

body {
  background-color: whitesmoke;
  align-content: center;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #222224;
}

button,
.btn,
.adminBtn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #33ccff;
  border: 1px solid #33ccff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}


button:hover,
.btn:hover,
.adminBtn:hover {
  background-color: #74cfbf;
  border-color: #74cfbf;
}

#main-header {
    width: 100%;
    text-align: center;
}

#main-header h1 {
    font-size: 1.5rem;
}

#main-logo {
    font-size: 3rem;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #350490;
    font-weight: bold;
}
#button1{
    width: 300px;
    height: 40px;
}
#button2{
    width: 300px;
    height: 40px;
}

.wrapper {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.container {
 height: 200px;
 position: relative;
 border: 3px solid #74cfbf;
}
.vertical-center {
 margin: 0;
 position: absolute;
 top: 50%;
 -ms-transform: translateY(-80%);
 transform: translateY(-80%);
}
.centerTitle{
    text-align: center;
}

.username {
  text-decoration: line-through;
}

.btns {
  background: #74cfbf !important;
  padding: 0%;
}

.landingBTNS {
  overflow: hidden;
  text-align: center;
}

.loginBTN {
  margin: auto;
  width: 50%;
  float: left;
}

.registerBTN {
  margin: auto;
  overflow: hidden;
}